In [1]:
import pandas as pd
import os
from glob import glob

In [2]:
folder_path = r'C:\Users\kanes\Documents\gambling-dataset\dataset\non-gambling\cleaned'

In [3]:
csv_files = glob(os.path.join(folder_path, '*.csv'))

In [4]:
df_list = []
for file in csv_files:
    df = pd.read_csv(file, sep=';')
    df_list.append(df)

In [5]:
combined_df = pd.concat(df_list, ignore_index=True)

In [6]:
combined_df.head()

                 Username                 Comment                Time
0              @arsene476        9:13 â˜ğŸ»ğŸ‘ˆğŸ» - ğŸ‘‰ğŸ»â˜ğŸ»   5 bulan yang lalu
1           @LarasAgnesia            Telat nonton    22 jam yang lalu
2  @silvieamaehdalena1188           ğ™¶ğšŠğš‹ğšğšğšğšğšğšğšğšğšğš   12 hari yang lalu
3     @ikhwanizzulhaq6324               Seru 4:38  2 minggu yang lalu
4              @Inisjal_R  29:25 ih colok colokan  2 minggu yang lalu

In [7]:
combined_df.tail()

,Username,Comment,Time
7623,@kiporaplexone,Ke Paniai Enarotali bang,1 bulan yang lalu
7624,@rumaropenfiery7773,"coba Abang dtng di pulau biak, bnyak sekali pa...",1 bulan yang lalu
7625,@MahdalenaAsri-e3n,Alam Indonesia indah semua. Silahkan saudara p...,5 hari yang lalu
7626,@MahdalenaAsri-e3n,Jangan merusak alam.,5 hari yang lalu
7627,@SarahAzzalia-yh1lm,"ke Biak dongn Bang Arsal, banyak tempat bagus ...",4 hari yang lalu

In [8]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7628 entries, 0 to 7627
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Username  7628 non-null   object
 1   Comment   7628 non-null   object
 2   Time      7628 non-null   object
dtypes: object(3)
memory usage: 178.9+ KB

In [9]:
combined_df = combined_df.dropna()

In [10]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7628 entries, 0 to 7627
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Username  7628 non-null   object
 1   Comment   7628 non-null   object
 2   Time      7628 non-null   object
dtypes: object(3)
memory usage: 178.9+ KB

In [11]:
combined_df = combined_df.drop_duplicates()

combined_df.reset_index(drop=True, inplace=True)

In [12]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7352 entries, 0 to 7351
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Username  7352 non-null   object
 1   Comment   7352 non-null   object
 2   Time      7352 non-null   object
dtypes: object(3)
memory usage: 172.4+ KB

In [13]:
combined_df.head()

                 Username                 Comment                Time
0              @arsene476        9:13 â˜ğŸ»ğŸ‘ˆğŸ» - ğŸ‘‰ğŸ»â˜ğŸ»   5 bulan yang lalu
1           @LarasAgnesia            Telat nonton    22 jam yang lalu
2  @silvieamaehdalena1188           ğ™¶ğšŠğš‹ğšğšğšğšğšğšğšğšğšğš   12 hari yang lalu
3     @ikhwanizzulhaq6324               Seru 4:38  2 minggu yang lalu
4              @Inisjal_R  29:25 ih colok colokan  2 minggu yang lalu

In [14]:
combined_df.tail()

,Username,Comment,Time
7347,@kiporaplexone,Ke Paniai Enarotali bang,1 bulan yang lalu
7348,@rumaropenfiery7773,"coba Abang dtng di pulau biak, bnyak sekali pa...",1 bulan yang lalu
7349,@MahdalenaAsri-e3n,Alam Indonesia indah semua. Silahkan saudara p...,5 hari yang lalu
7350,@MahdalenaAsri-e3n,Jangan merusak alam.,5 hari yang lalu
7351,@SarahAzzalia-yh1lm,"ke Biak dongn Bang Arsal, banyak tempat bagus ...",4 hari yang lalu

In [15]:
output_cleaned_path = os.path.join(folder_path, 'non_gambling_v1.csv')
combined_df.to_csv(output_cleaned_path, index=False, sep=';')