In [11]:
import pandas as pd
import os
from glob import glob

In [12]:
folder_path = r'C:\Users\kanes\Documents\gambling-dataset\dataset\gambling\cleaned'

In [13]:
csv_files = glob(os.path.join(folder_path, '*.csv'))

In [14]:
df_list = []
for file in csv_files:
    df = pd.read_csv(file, sep=';')
    df_list.append(df)

In [15]:
combined_df = pd.concat(df_list, ignore_index=True)

In [16]:
combined_df.head()

,Username,Comment,Time
0,@ColeySchulze-g4d,gw udah coba guys di Weton88 cair mulu 👍,22 jam yang lalu
1,@KiaraRoberts-s1v,"jepey terus di 𝗪𝗘𝗧𝗢𝗡𝟴𝟴, beneran!",22 jam yang lalu
2,@LombardoPaine-j4q,"Cakep Kali 🚩𝗪𝗘𝗧𝗢𝗡𝟴𝟴🚩, Bravo..",22 jam yang lalu
3,@CorcoranOsborn-s7g,Bermain bersama teman-teman di Weton88 semakin...,22 jam yang lalu
4,@FairclothSamantha-v6k,Cair terus ini kakak mantap banget cuan di Wet...,22 jam yang lalu

In [18]:
combined_df.tail()

,Username,Comment,Time
2286,@DarrelrTMTE,"Jepe pertama kali maen, puas banget",1 hari yang lalu
2287,@LeviP1fOH,"Wede 2 kali hari ini, sketer terus",1 hari yang lalu
2288,@Jamesp5Yr4,Main di 𝐃 𝐄 W A 𝘋 𝑂 𝑅 𝐀-bikin lupa waktu! Hibu...,2 hari yang lalu
2289,@MaryNhAoq,𝘿 𝐸 W 𝐴 𝐷 О 𝐑 𝘼menarik semakin banyak pengguna. 🦪,2 hari yang lalu
2290,NaN,NaN,NaN

In [19]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2291 entries, 0 to 2290
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Username  2287 non-null   object
 1   Comment   2287 non-null   object
 2   Time      2287 non-null   object
dtypes: object(3)
memory usage: 53.8+ KB

In [20]:
combined_df = combined_df.dropna()

In [21]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2287 entries, 0 to 2289
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Username  2287 non-null   object
 1   Comment   2287 non-null   object
 2   Time      2287 non-null   object
dtypes: object(3)
memory usage: 71.5+ KB

In [22]:
combined_df = combined_df.drop_duplicates()

combined_df.reset_index(drop=True, inplace=True)

In [23]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1945 entries, 0 to 1944
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Username  1945 non-null   object
 1   Comment   1945 non-null   object
 2   Time      1945 non-null   object
dtypes: object(3)
memory usage: 45.7+ KB

In [24]:
combined_df.head()

,Username,Comment,Time
0,@ColeySchulze-g4d,gw udah coba guys di Weton88 cair mulu 👍,22 jam yang lalu
1,@KiaraRoberts-s1v,"jepey terus di 𝗪𝗘𝗧𝗢𝗡𝟴𝟴, beneran!",22 jam yang lalu
2,@LombardoPaine-j4q,"Cakep Kali 🚩𝗪𝗘𝗧𝗢𝗡𝟴𝟴🚩, Bravo..",22 jam yang lalu
3,@CorcoranOsborn-s7g,Bermain bersama teman-teman di Weton88 semakin...,22 jam yang lalu
4,@FairclothSamantha-v6k,Cair terus ini kakak mantap banget cuan di Wet...,22 jam yang lalu

In [25]:
combined_df.tail()

,Username,Comment,Time
1940,@Eliasuw6cH,"Wede tadi malam, makswin di Starlight",1 hari yang lalu
1941,@DarrelrTMTE,"Jepe pertama kali maen, puas banget",1 hari yang lalu
1942,@LeviP1fOH,"Wede 2 kali hari ini, sketer terus",1 hari yang lalu
1943,@Jamesp5Yr4,Main di 𝐃 𝐄 W A 𝘋 𝑂 𝑅 𝐀-bikin lupa waktu! Hibu...,2 hari yang lalu
1944,@MaryNhAoq,𝘿 𝐸 W 𝐴 𝐷 О 𝐑 𝘼menarik semakin banyak pengguna. 🦪,2 hari yang lalu

In [28]:
output_cleaned_path = os.path.join(folder_path, 'gambling_v1.csv')
combined_df.to_csv(output_cleaned_path, index=False, sep=';')